.combo-box {
    -fx-background-color: #3999ff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-background-radius: 0px;
}

.combo-box .arrow {
    -fx-background-color: white;
}

.combo-box .list-cell {
    -fx-background-color: white;
    -fx-text-fill: rgb(151, 151, 151);
}

.combo-box .list-cell:hover {
    -fx-background-color: #007bff;
    -fx-text-fill: rgb(255, 255, 255);
}

.container{
    -fx-background-color: #317dcf;
}

.weight-field{
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #2c3e50;
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-border-color: #3498db;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}


.main-right{
  
}
.main-left{
}
.button-weight{
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
 
}
.button-weight:hover{
    -fx-background-color: #f3f3f3;
    -fx-text-fill: rgb(131, 131, 131);
    -fx-cursor: hand;
}
.button-calculate{
    -fx-background-color: #6aaf49;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 20px;
}

.button-calculate:hover{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: #4f6446;
    -fx-cursor: hand;
}

.button-photos{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: #3498db;
    -fx-cursor: hand;
}
.button-photos:hover{
    -fx-background-color: #f3f3f3;
    -fx-text-fill: rgb(131, 131, 131);
    -fx-cursor: hand;
}

.button-percentages {
    -fx-background-color: #396aff;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-cursor: hand;
    -fx-border-radius: 5px; /* Ajusta el valor según el radio deseado */
    -fx-background-radius: 5px;
}

.button-percentages:hover {
    -fx-background-color: #5a8cff;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-cursor: hand;
}
.label-percentages{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 14px;
}
.buy-percentage-title{
    -fx-text-fill: rgb(121,121,121);
    -fx-font-size: 15px;
}